.box{
    width: 400px;
    padding: 40px;
    background: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 50%);
    border: 1px solid rgb(44,44,43);
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 100px;
    text-align: center;
    position: relative;
    opacity: 0.8;
}

.box:hover {
  opacity: 1;
}

.usid{
    border: 2px solid #3498db;
    background: #222;
    background: linear-gradient(#333, #222);
    display: block;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 2px 0 #000;
    color: #888;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    font-family: 'cabin' Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 -1px 0 #000;
    border-radius: 24px;
    transition: 0.25;

}
.usid::-webkit-input-placeholder{
    color: #888;
}
.usid:-moz-placeholder{
    color: #888;
}
.usid:focus{
    width: 280px;
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px #00ff0033, inset 0 0 5px #00ff001a, 0 2px 0 #000;
    color: #efe;
    outline: none;
}
.usid:focus::-webkit-input-placeholder{
    color: #efe;
}
.usid:focus:-moz-placeholder{
    color: #efe;
}

@keyframes glow {
    0%{
        border-color: #393;
        box-shadow: 0 0 5px #00ff0033, inset 0 0 5px #00ff001a, 0 2px 0 #000 ;
    }
    100%{
        border-color: #6f6;
        box-shadow: 0 0 20px #00ff0099, inset 0 0 10px #00ff0066, 0 2px 0 #000;
    }
}


.button {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  border: none;
  opacity: 0.9;
  border-radius: 4px;
  color: white;
  padding: 15px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 7px wheat;
  cursor: pointer;
  transition: none;
}
.button:active {
  position: relative;
  top: 7px;
  opacity: 1;
  box-shadow: none;
}


@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}